---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint">
    <main class="m-auto p-6 max-w-prose">
        <h1 class="font-space font-bold text-5xl">Imprint</h1>
    </main>
</Layout>
